@page "/register"
@rendermode InteractiveServer
@inject NavigationManager Navigation
<h1>Band Music Library</h1>
<h2>Register</h2>
<div class="text-input">
    First Name
    <input type="text" @bind="firstName" />
</div>
<div class="text-input">
    Last Name
    <input type="text" @bind="lastName" />
</div>
<div class="text-input">
    Email
    <input type="text" @bind="email" />
</div>
<div class="text-input">
    Password
    <input type="text" @bind="password" />
</div>
<div class="text-input">
    Instrument
    <select @bind="selectedInstrument">
        <option value="">-- Select Instrument --</option>
        @foreach (var instrument in instruments) {
            <option value="@instrument">@instrument</option>
        }
    </select>
</div>
<div class="text-input">
    <button class="btn btn-primary" @onclick="AddUser">Register</button>
</div>

@code {
    private string? firstName, lastName, email, password, selectedInstrument;
    private List<string> instruments;
    DataAccess dataAccess = new DataAccess();

    protected override void OnInitialized() {
        instruments = dataAccess.GetInstruments();
    }

    private void AddUser() {
        if (string.IsNullOrEmpty(firstName) || string.IsNullOrEmpty(lastName) || string.IsNullOrEmpty(email) || string.IsNullOrEmpty(password) || string.IsNullOrEmpty(selectedInstrument)) {
            Console.WriteLine($"Wrong input! {firstName}, {lastName}, {email}, {password}, {selectedInstrument}");
            return;
        }
        dataAccess.CreateUser(firstName, lastName, email, password, selectedInstrument);
        firstName = string.Empty; lastName = string.Empty; email = string.Empty; password = string.Empty;
        Navigation.NavigateTo("/");
    }
}
